h3{
    margin-left: 2rem;
    font-family: 'Montserrat', sans-serif;
}

    #login{
    height: 500px;
    width:500px;
    background-color: #ffff; 
    margin-left: 30%;
    margin-top: 5%;
    opacity: 0.8;
    border:solid 2px;
    border-radius: 5%;
}
#login a{
 text-decoration: none;
 color: black;
 font-family: 'Montserrat', sans-serif;
 font-weight: 800;
}
.head{
    height: 100px;
width: 500px;
background-color: black;
}
.sign{
    display:inline-block;
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
    
}
.s1{
    /* border-right:solid 0.01rem; */
    
    padding-left: 90px;
    padding-right: 40px;
    background-color: rgb(253, 254, 251);
    opacity:none;
}
.s2{
padding-left: 40px;
/* border-bottom: solid 0.01rem;
border-length:68px; */
padding-right: 105px;
margin-left:0
/* background-color: ; */
}
h1{
    font-family: 'Montserrat', sans-serif;
    padding-top: 1rem;
    padding-left: 1rem;
    font-weight: 900;
}
.travel{
    /* display: none; */
    position: absolute;
left: 2rem;
    height: 420px;
    width: 480px;
    /* position: absolute; */
background-color: rgb(254, 254, 254);
opacity: 0.85;

/* margin-bottom: 20px; */
margin-top: 20px;
box-shadow: 1px 2px 10px 4px #646363;
z-index: 1;
padding: 0,2rem;
}
.searchBox {
    margin: 2rem 2rem;
    border: none;
    border-radius: 0;
    height: 3rem;
    width: 400px;
    background-color: #d1cfcf;
}
.searchBox1{
    margin: 0 2rem 2rem;
    border: none;
    border-radius: 0;
    height: 3rem;
    width: 400px;
    background-color: #d4cfcf;
}
.enter{
    margin: 0 2rem 2rem;
    width: 7rem;
    height: 3rem;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 2px;
}
